 <div class="row"><!-- 
    <div class="col-md-4 col-sm-4 col-xs-4">   
      <div class="card-box">
          <img class="img-fluid" src="<?php echo site_url().'uploads/user/'. $userinfo['user_pic']; ?>" alt="User profile picture">
      </div>
    </div> --> 
    
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="card-box">
    
    {{ message }}

     <form #profileUpdatefrm="ngForm" (ngSubmit)="onSubmit();" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6"> 
                <label for="firstname" class="col-form-label">First Name</label>
                <input class="form-control" name="firstname" id="firstname" placeholder="Business Name" type="text" 
                        [(ngModel)]="loginuserInfo.firstname" 
                        #firstname="ngModel" 
                        required />
            </div>
            <div class="form-group col-md-6">
                <label for="lastname" class="col-form-label">Last Name</label>
                <input type="email" class="form-control" id="lastname" placeholder="text" parsley-trigger="change"
                    name="lastname"
                    [(ngModel)]="loginuserInfo.lastname"
                    #lastname="ngModel" 
                    required />
            </div>         
        </div>
        <div class="form-row">             
            <div class="form-group col-md-6">
                <label for="inputmobile" class="col-form-label">Mobile Number</label>
                <input type="text" id="inputmobile" class="form-control" placeholder="Mobile Number" data-parsley-type="number" data-parsley-length="[9,12]" value="" parsley-trigger="change"
                name="user_phone"
                [(ngModel)]="loginuserInfo.user_phone"
                #user_phone="ngModel" 
                required />
            </div>

            <div class="form-group col-md-6">
                <label for="inputEmail4" class="col-form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" readonly parsley-trigger="change"
                    name="user_email"
                    [(ngModel)]="loginuserInfo.user_email"
                    #user_email="ngModel" 
                    required />
            </div>
        </div>
       
        <!-- <div class="form-row">
            <div class="form-group col-md-6"> 
                    <label for="user_pass" class="col-form-label">Password</label>
                    <input type="password" [(ngModel)]="loginuserInfo.password" name="password" placeholder="Password" class="form-control" #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                    <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
                      <div *ngIf="password.errors.required"> Password is required. </div>
                      <div *ngIf="password.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</div>
                    </div>
            </div>

            <div class="form-group col-md-6"> 
                <label for="updatecofpassnm" class="col-form-label">Confirm Password</label>
                <input type="password" [(ngModel)]="loginuserInfo.confirmpassword" name="confirmpassword" placeholder="Confirm Password" class="form-control" #confirmpassword="ngModel" pattern="{{ password.value }}" />
                <div *ngIf="confirmpassword.invalid && confirmpassword.touched" class="alert alert-danger">
                  <div *ngIf="confirmpassword.errors.required"> Confirm password is required. </div>
                  <div *ngIf="confirmpassword.errors.pattern"> Password & Confirm Password does not match.</div>
                </div>
            </div>
        </div> -->

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputbusinessimage" class="col-form-label">Business Image</label>
                <input class="dropify" name="businessimage" id="inputbusinessimage" type="file" data-height="200" data-default-file="loginuserInfo.user_pic" (change)="onFileChanged($event)" /> 
                <input type="hidden" name="oldpic" [(ngModel)]="loginuserInfo.user_pic" />
            </div>
        </div>

         

          
        <div class="form-row">
            <div class="form-group text-center m-t-40 col-md-6"> 
                <button [disabled]="!profileUpdatefrm.valid" class="btn btn-custom btn-bordred waves-effect waves-light" type="submit">
                    Update Profile
                </button>
            </div>
        </div> 
        </form>
    
      </div>
    </div>
  </div> 
 