<!-- <ag-grid-angular 
    style="width: 100%; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    >
</ag-grid-angular> -->

<div class="row">    
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="card-box">

            <ag-grid-angular 
                style="width: 100%; height: 500px;"
                class="ag-theme-balham"
                [rowData]="rowData" 
                [columnDefs]="columnDefs"
                >
            </ag-grid-angular>

        </div>
    </div>
</div>

